:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

@import "tailwindcss";

html {
  font-size: 16px;
}

/* Font utility classes */
.font-poppins {
  font-family: var(--font-poppins);
}

.font-roboto {
  font-family: var(--font-roboto);
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}