@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

@import "tailwindcss";

html {
  font-size: 16px;
}

/* Font utility classes */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}
/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

